@{
    ViewData["Title"] = "About";
}

<div class="container-fluid">

    <h2 class="text-center">About Us</h2>

    <p>
        Established in 1946, Volkswagen Group South Africa is a wholly owned subsidiary of Volkswagen Aktiengessellschaft (VWAG)
        in Germany. It is the largest German investment in South Africa and is a major contributor to foreign direct investment,
        technology transfer and skills development. Volkswagen Group South Africa is located in Uitenhage, an industrial town
        some 35 km from Port Elizabeth in the Eastern Cape.
    </p>
</div>
