@{
    ViewData["Title"] = "Contact";
}

<div class="container-fluid">

    <h2 class="text-center">Contact Us</h2>

    <p>
        Volkswagen Head Office <br />
        Physical address: <br />
        103 Algoa Road <br />
        Uitenhage <br />
        South Africa <br />
        6229 <br />
    </p>
    <p>
        Postal address: <br />
        PO Box 80 <br />
        Uitenhage <br />
        6230 <br />
    </p>
    <p>
        Volkswagen National Sales office <br />
        Physical address: <br />
        129 Patricia Road <br />
        Sandton <br />
        South Africa <br />
        2146 <br />
    </p>
    <p>
        Postal address: <br />
        Private Bag X9925<br />
        Sandton<br />
        2146<br />
    </p>
</div>
